<!-- Pagination Template -->
<div class="pagination">
    {{#if hasPrevious}}
    <a href="?page={{previousPage}}" class="btn btn-outline">Previous</a>
    {{/if}}
    
    {{#each pageNumbers}}
        {{#if isCurrent}}
            <span class="btn btn-primary">{{page}}</span>
        {{else}}
            <a href="?page={{page}}" class="btn btn-outline">{{page}}</a>
        {{/if}}
    {{/each}}
    
    {{#if hasNext}}
    <a href="?page={{nextPage}}" class="btn btn-outline">Next</a>
    {{/if}}
</div> 